<div class="card">
  <p-table
    [value]="reviewService.employees()!"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Employees
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Token Id</th>
        <th>Role</th>
        <th>Company name</th>
        <th>Company image</th>
        <th>Skills</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <!-- Token Id -->
        <td>{{ employee.tokenId }}</td>
        <!-- Role -->
        <td>
          <p-tag [value]="employee.role" severity="secondary"></p-tag>
        </td>
        <!-- Company name -->
        <td>{{ employee.companyName }}</td>
        <!-- Company Image -->
        <td>
          <img [src]="employee.companyImageUrl" width="100" class="shadow-4" />
        </td>
        <td>
          @for (tag of employee.skills; track $index) {
          <p-tag [value]="tag" [severity]="'success'" class="mr-1" />
          }
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template> -->
  </p-table>
</div>
