<div class="flex justify-center items-center h-screen px-16">
  <div class="w-1/2 flex flex-col items-center gap-4 justify-center">
    <img src="../assets/logo/CryptoVitaeLogoName.png" alt="logo" class="w-52" />
    <span class="text-center text-2xl font-sans px-16"
      >Utilizamos la tecnología blockchain para resguardar de manera segura y
      verificable la trayectoria profesional de una persona en su currículum. A
      través de NFTs, aseguramos que la información sobre empleos anteriores es
      auténtica y ha sido confirmada por las empresas, proporcionando una forma
      innovadora de garantizar la credibilidad del historial laboral.</span
    >
  </div>
  <p-divider layout="vertical" class="h-full"></p-divider>

  <div class="w-1/2">
    <h2 class="text-3xl text-center font-semibold py-4">
      Inicia sesion con Metamask
    </h2>

    <div class="flex justify-center items-center py-4 gap-4">
      <p-dropdown
        [formControl]="categoryControl"
        [options]="categories"
        optionLabel="name"
        placeholder="Selecciona tu categoria"
      />

      <p-button
        label="Ethereum Sepolia"
        (onClick)="loginWithEthereum()"
        [rounded]="true"
        [outlined]="true"
        [disabled]="!categoryControl.value"
      ></p-button>

      <p-button
        label="Arbitrum Sepolia"
        (onClick)="loginWithArbitrum()"
        [rounded]="true"
        [outlined]="true"
        [disabled]="!categoryControl.value"
      ></p-button>

      <p-button
        label="Scroll Sepolia"
        (onClick)="loginWithScroll()"
        [rounded]="true"
        [outlined]="true"
        [disabled]="!categoryControl.value"
      ></p-button>

      <p-button
        label="Avalanche Fuji"
        (onClick)="loginWithAvalanche()"
        [rounded]="true"
        [outlined]="true"
        [disabled]="!categoryControl.value"
      ></p-button>

      <p-toast />
    </div>
  </div>
</div>
