<!--
<div class="flex flex-col gap-4 p-8">

  <div class="flex flex-col gap-4 bg-green-300 p-6 rounded-lg">
    <div class="flex justify-between items-center">
      <div class="text-white">
        <h1 class="text-3xl font-bold">{{ company.name }}</h1>
        <p class="text-xl text-black">{{ company.job }}</p>
        <p class="text-slate-800 mt-2">
          <span class="font-semibold">Start Date:</span>
          {{ company.startDate }}
          <span class="ml-4 font-semibold">End Date:</span>
          {{ company.endDate }}
        </p>
      </div>
      <img
        class="w-32 h-32 rounded-full object-cover"
        [src]="company.logoUrl"
        alt="{{ company.name }} Logo"
      />
    </div>
    <p class="text-gray-700 mt-4">{{ company.description }}</p>
  </div>


  <div class="flex gap-6 mt-6">
    <div class="flex flex-col gap-4 w-full">
      <p-card header="Actions" [style]="{ width: '100%' }" class="bg-green-300">
        <ng-template pTemplate="header">
          <img
            class="w-full h-24 object-cover rounded-t-lg"
            src="https://archive.smashing.media/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/de9ee388-c756-449c-84e0-3318aba74f78/open-peeps-opt.png"
            alt="Actions Header"
          />
        </ng-template>
        <ng-template pTemplate="body">
          <div class="flex flex-col gap-4">
            <p-button
              label="Add Employee"
              icon="pi pi-user-plus"
              class="bg-green-500 text-white w-full"
            ></p-button>
            <p-button
              label="View Employees"
              icon="pi pi-users"
              class="bg-green-500 text-white w-full"
            ></p-button>
            <p-button
              label="Search Prospects"
              icon="pi pi-search"
              class="bg-green-500 text-white w-full"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div> -->

<!-- detailed-info.component.html -->
<div class="flex flex-col gap-4 p-8">
  <!-- Company Information Header -->
  <div class="flex flex-col gap-4 bg-green-300 p-6 rounded-lg">
    <div class="flex justify-between items-center">
      <div class="text-black">
        <h1 class="text-3xl font-bold">{{ company.name }}</h1>
      </div>
      <img
        class="w-32 h-32 rounded-full object-cover"
        [src]="company.imageUrl"
        alt="{{ company.name }} Logo"
      />
    </div>
    <p class="text-gray-700 mt-4">{{ company.description }}</p>
  </div>

  <!-- Action Buttons -->
  <div class="flex gap-6 mt-6">
    <div class="flex flex-col gap-4 w-full">
      <div class="bg-green-300 rounded-lg shadow-lg">
        <div class="p-4">
          <h3 class="text-lg font-bold mb-4">Actions</h3>
          <button
            (click)="display = true"
            class="border border-gray-300 text-gray-800 bg-white hover:bg-green-500 hover:text-white rounded-lg px-4 py-2 text-sm font-semibold flex items-center gap-2 w-full"
          >
            <i class="pi pi-user-plus"></i>
            Add Employee
          </button>
          <!-- Add Employee Dialog -->
          <p-dialog
            header="Employee Information"
            [(visible)]="display"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [baseZIndex]="10000"
          >
            <div class="p-4 bg-white">
              <form [formGroup]="reviewForm" class="space-y-4">
                <div class="field">
                  <label
                    for="address"
                    class="block text-sm font-semibold text-gray-700"
                    >Employee Address</label
                  >
                  <input
                    pInputText
                    id="address"
                    class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500"
                    formControlName="employeeAddress"
                  />
                </div>

                <div class="field">
                  <label
                    for="role"
                    class="block text-sm font-semibold text-gray-700"
                    >Role</label
                  >
                  <input
                    pInputText
                    id="role"
                    class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500"
                    formControlName="role"
                  />
                </div>

                <div class="field">
                  <label
                    for="period"
                    class="block text-sm font-semibold text-gray-700"
                    >Period</label
                  >
                  <div class="flex gap-4">
                    <p-calendar
                      id="startDate"
                      dateFormat="mm/dd/yy"
                      placeholder="Start Date"
                      formControlName="startDate"
                    ></p-calendar>
                    <p-calendar
                      id="endDate"
                      dateFormat="mm/dd/yy"
                      placeholder="End Date"
                      formControlName="endDate"
                    ></p-calendar>
                  </div>
                </div>

                <div class="field">
                  <label
                    for="skills"
                    class="block text-sm font-semibold text-gray-700"
                    >Skills</label
                  >
                  <input
                    pInputText
                    id="skills"
                    class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500"
                    formControlName="skills"
                  />
                </div>

                <div class="field">
                  <label
                    for="review"
                    class="block text-sm font-semibold text-gray-700"
                    >Review</label
                  >
                  <textarea
                    pInputTextarea
                    id="review"
                    rows="4"
                    class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500"
                    formControlName="review"
                  ></textarea>
                </div>

                <div class="flex justify-end">
                  <p-button
                    label="Submit"
                    icon="pi pi-check"
                    class="bg-green-500 text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 rounded-lg"
                    (onClick)="onSubmit()"
                  ></p-button>
                </div>
              </form>
            </div>
          </p-dialog>

          <!-- End of Add Employee Dialog -->
          <button
            class="border border-gray-300 text-gray-800 bg-white hover:bg-green-500 hover:text-white rounded-lg px-4 py-2 text-sm font-semibold flex items-center gap-2 w-full mt-2"
            (click)="onViewEmployees()"
          >
            <i class="pi pi-users"></i>
            View Employees
          </button>
          <button
            class="border border-gray-300 text-gray-800 bg-white hover:bg-green-500 hover:text-white rounded-lg px-4 py-2 text-sm font-semibold flex items-center gap-2 w-full mt-2"
          >
            <i class="pi pi-search"></i>
            Search Prospects
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
